$color-white: #ffffff;
$color-black: #000000;
$color-charcoal: #333333;

// Backgrounds
$bg-light: $color-white;
$bg-dark: $color-charcoal;

// Global
$font-family: "Roboto", "Open sans", "Helvetica Neue", "sans-serif";
$font-size: 16px;
$font-color: $color-black;
